.Error {
  color : red;
}

.Empty, .Error {
  margin: 0 auto;
  width: 50%;
  font-size: .8em;
}

.ButtonContainer {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: flex-start;
}

.DisplaySetting {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  min-width: 800px;
  overflow: scroll;
}
