.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    height: 48px;
    text-transform: capitalize;
}

.Basic {
    color: black;
}
.Basic:hover {
  color: #C65C52;
}
.Basic:active {
  color: #793932;
}
.Active {
  color: salmon;
  cursor: default;
}
