.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    height: 48px;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.Basic {
    color: black;
}
.Basic:hover {
  color: #C65C52;
}
.Basic:active {
  color: #793932;
}
.Basic:disabled {
  cursor: default;
  color: gray;
}
.Basic:hover:disabled {
  cursor: default;
  color: gray;
}
.BasicBackground {
  background-color: salmon;
  color: black;
}
.BasicBackground:hover {
  color: #C65C52;
}
.BasicBackground:active {
  color: #793932;
}
.BasicBackground:disabled {
  cursor: default;
  background-color: gray;
}
.BasicBackground:hover:disabled {
  cursor: default;
  background-color: gray;
  color: black;
}
.Active {
  color: salmon;
  cursor: default;
}
